
 nav {   
    background-color: beige;
    padding: 0.5rem;
    border-bottom: solid 1px;
    box-shadow: 0px 2px;
 }

 aside {
    float: right;
    width: 30%;
    padding: 20px;
    margin: 10px 25px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
 }

 section{
    padding: 10px;
    margin: 15px;
    height: 500px;
    clear: left;
 }
 footer {
    border-top: solid black 1px;
    text-align: center;
    padding-top: 15px;
 }

 form {
    margin-top: 2rem;
 }
 .btn {
     width: 50%;
 }
 form.form-group {
    margin-bottom: 2rem;
 }

 .new-user {
    text-align: center;
    margin: 15px;
 }