
.content {
    padding: 0.5rem 1rem;
}
.book-container {
    margin: auto;
    text-align: center;
    border: solid black 2px;
    width: 50%;
}

#ratings {
    display: flex;
    justify-content: center;
}

#ratings > p {
    margin: 10px;
    padding: 20px;
}

.navtop {
        width: 100%;
        height: 60px;
        border: 0;
        background: #4e4848;
}
.navtop nav {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
nav h2, nav a {
    display: inline-flex;
    color: white;
    align-items: center;
}
nav h2 {
    flex: 1;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}
nav {
    display: inline;
}
nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0 30px;
}
nav a:hover{
    color: rgb(238, 232, 232);
    text-decoration: none;
}
nav a i {
    padding: 0 2px;
}
.results li {
    list-style: none;
}
footer {
    border-top: solid black 1px;
    text-align: center;
    padding-top: 15px;
 }