{% extends "layout.html" %}

{% block body %}
    <div id="book-page">
        <div class="book-container">
            <h3>Book Details</h3>
            <p><strong>ISBN &#58</strong> {{book.book_id}}</p>
            <p><strong>Title &#58</strong> {{book.title}}</p>
            <p><strong>Author &#58</strong> {{book.author}}</p>
            <p><strong>Year &#58</strong> {{book.year}}</p>
        </div>

        <h2>Reviews</h2>
        {% for rev in reviews %}
        <li>{{rev.review}}</li>
        {% endfor %}
    </div>
{% endblock %}