{% extends "layout.html" %}


{% block body %}
<div id="bar">
        <form  method="POST" action="">
            <input class="search-bar" name="book" type="search" placeholder="Search by ISBN,title or auhtor" aria-label="Search">
            <button  type="submit">Search</button>
        </form>
</div>
    <div id="results">
    {% if results%}
        {% if results != "empty"%}
        <ul>
            {% for result in results %}
            <li>
                <p><strong>Title &#58</strong> <a href="{{url_for('bookPage',isbn=result.book_id)}}"> {{ result.title }} </a></p>
                <div class="details">
                    <p class="flexItem"><strong>Author &#58</strong> {{ result.author }} </p>
                    <p class="flexItem"><strong>ISBN &#58</strong>  {{ result.book_id }} </p>
                    <p class="flexItem"><strong>Year &#58</strong>  {{ result.year }} </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {%else%}
            <div id="nomatch">
                <p>No Matches Found</p>
            </div>
        {% endif %}
    {%endif%}
    </div>
    
{% endblock %}